*{
    margin: 0 ;
    padding: 0;
}
::-webkit-calendar-picker-indicator{
    background: url(../img/icon_input-date.png);
    background-repeat: no-repeat;
     background-position: center;


}

body{
    font-family: 'Roboto', sans-serif;
    
}
button{
    cursor: pointer;
}
.container{
    max-width: 1650px;
    margin: 0 auto;
}
.btn__register{
    outline: none;
    background: linear-gradient(90deg, #1334DE 0%, #1B7F93 100%);
    border-radius: 29px;
    max-width: 250px;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid transparent;
    transition: .5s ease-in-out;
    span{
        font-size: 24px;
        color: white;
    }
}
.btn__register:hover{
    border: 1px solid #1B7F93 ;
    
    transition: .5s ease-in-out;
    background: -webkit-linear-gradient(270deg, #1B7F93 30%, #1437DC 100%);
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;
    
}

.wrapper__top-form--inner{
                        display: none;
                    }
.container__eac{
    padding-top: 25px;
    padding-bottom: 15px;
    .block__logo{
        text-align: center;
    }
    .container__all{
        padding-left: 70px;
        margin-top: 23px;
        .container__form{
            position: relative;
            display: flex;
            justify-content: space-between;
            .col__form{
            
                // width: 50%;
                h2{
                    font-weight: 300;
                    
                    color:rgba(20, 55, 220, 1);
                    font-size: 55px;
                    span{
                        background: -webkit-linear-gradient(270deg, #1B7F93 30%, #1437DC 100%);
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;

                        font-weight: 600;
                    }
                }
                p{
                    margin-top: 3px;
                    max-width: 600px;
                    font-size: 24px;
                    color: #2E2E2E;
                }
                .block__form{
                    margin-top: 35px;
                    
                    
                    max-width: 580px;
                    
                    background: #ffff;
                    box-shadow: 0px 4px 40px rgba(27, 125, 147, 0.1);
                    
                    form{
                        
                        padding: 40px 84px 29px 96px;
                        .inner__form{
                            max-width: 390px;
                            margin: 0 auto;
                            .row.row__first{
                                margin-top: 0;
                                input{
                                    color: #2E2E2E;
                                    font-size: 18px;
                                    margin-left: 10px;
                                    &:nth-child(1){
                                        margin-left: 0;
                                        
                                    }
                                }
                                select{
                                    outline: none;
                                    width: 60px;
                                    border-bottom: 1px solid rgba(46, 46, 46, 0.4);
                                    border-left: none;
                                    border-right: none;
                                    border-top: none;
                                    padding-left: 10px;
                                        font-family: 'Roboto', sans-serif;
                                    font-size: 18px;
                                    color: #2e2e2ed9;
                                     background: url(../img/icon_input-date.png);
                                     background-repeat: no-repeat;
                                    background-position: right;
                                        -webkit-appearance: none;



                                    
                                }
                                #fname{
                                    max-width: 125px;
                                }
                                #lname{
                                    max-width: 186px;
                                }
                            }
                            .row{
                                margin-top: 35px;
                                display: flex;
                                
                                input{
                                    
                                    width: 100%;
                                    padding-top: 10px;
                                    padding-bottom: 13px;
                                    outline: none;
                                    border: transparent;
                                    
                                    border-bottom: 1px solid rgba(46, 46, 46, 0.4);
                                    &::placeholder{
                                        color: #2e2e2ed9;
                                        font-size: 18px;
                                        text-align: center;
                                        font-family: 'Roboto', sans-serif;
                                    }
                                }
                            }
                            .container__checkbox{
                                
                                display: flex;
                                align-items: center;
                                max-width: 360px;
                                margin: 35px auto;
                                
                                .col{
                                    p{
                                        color: #2E2E2E;
                                        margin-top: 0;
                                        margin-left: 10px;
                                        font-size: 18px;
                                        span{
                                            color: #2E2E2E;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                            
                            .block__or{
                                margin: 20px 0 20px 0;
                                text-align: center;
                                p{
                                    font-size: 18px;
                                }
                            }
                            .container__social{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                button{
                                    color: #2E2E2E;
                                    font-size: 16px;
                                    background: transparent;
                                    outline: none;
                                    height: 46px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid rgba(175, 175, 175, 0.5);
                                    margin-left: 11px;
                                    &:nth-child(1){
                                        margin-left: 0;
                                    }
                                    
                            }
                            button.xing{
                                width: 193px;
                                svg{
                                    margin-right: 5px;
                                }
                            }
                            button.linkedin{
                                width: 234px;
                                svg{
                                    margin-right: 12px;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(2){
                
                
                img{
                    
                    max-width: 100%;
                }
            }
        }
        .col__form.hand{
            img{
                position: absolute;
                right: 0px;
                // bottom: 75px;
                z-index: -1;
                // bottom: 0px;
            }
        }
    }
    .copyright{
        opacity: 0.4;
        padding-right: 70px;
        margin-top: 63px;
        display: flex;
        justify-content: space-between;
        .info{
            color: #2E2E2E;
        }
    }
}
  
}

// finish__form
.block__form.block__form-finish{
    margin-top: 44px;
                    
                    
                    max-width: 580px;
                    
                    background: #ffff;
                    box-shadow: 0px 4px 40px rgba(27, 125, 147, 0.1);
    .finish__form{
    padding-top: 108px;
    padding-bottom: 200px;
    .img__heart{
        margin-bottom: 25px;
        text-align: center;
    }
    .registering{
        p{
              background: -webkit-linear-gradient(270deg, #1B7F93 10%, #1437DC 100%);
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;
                          font-weight: 800;
                          font-size: 24px;
                          text-align: center;
        }
        
    }
    .subtitle{
            text-align: center;
            max-width: 480px;
            margin: 25px auto;
            font-size: 18px;
        
            color: #2e2e2ede;

        }
}
}

// finish__form

// regulation
.container__all.regulation{
    padding-right: 30px;
}
.col__form.regulation{
    width: 100%;
    
}
.copyright.regulation{
        padding-right: 0px!important;
    }
.block__form.regulation{
    margin-bottom: 260px;
    max-width: 1700px!important;
    padding-top: 50px;
    padding-bottom: 50px;
    form.regulation{
        padding: 0px 87px 0 87px!important;
        
        .wrapper{
            margin: auto;
            max-width: 585px;
            input{
                padding-top: 80px;
                max-width: 100%;
            }
        }
        input{
            color: #2E2E2E;
            font-size: 24px;
            padding: 20px 0 20px 0;
            width: 100%;
           outline: none;
            
            border: transparent;
            border-bottom: 1px solid rgba(19, 53, 222, 0.435);
            &::placeholder{
                text-align: center;
                font-size: 24px;
                color: #2e2e2ed0;
                
            }
            
        }
    }
    .btn__register.regulation{
        margin-top: 46px;
    }
}
// regulation


// regulation-finish
.block__form.regulation.finish{
    margin-bottom: 50px;
    
}
.container__product-regulation{
        .title{
        color: #2e2e2e;
        margin-bottom: 36px;
        }
    .block__product.first{
        margin-top: 0;
    }
    .block__product{
        
        margin-top: 30px;
        position: relative;
        .inner__product{
            padding-left: 22px;
        }
        
        &:before{
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 2px;
            background: linear-gradient(270deg, #1B7F93 0%, #1437DC 100%);
        }
        .identificator{
            background: -webkit-linear-gradient(270deg, #1B7F93 0%, #1437DC 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
            font-size: 30px;
            margin-bottom: 13px;
        }
        .info{
            color: #2E2E2E;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 23px;
        }
        .main-info{
            color: #2E2E2E;
            font-size: 24px;
            max-width: 890px;
            line-height: 28px;
            span{
                color: black;
                font-weight: bold;
            }
        }
    }
}